<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>아차! : 호율적인 예약관리의 시작</title>
		<!-- CSS 영역-->
		<!-- Font CSS -->
        <link rel="stylesheet" href="/static/css/font.css">
		<!-- Index CSS -->
		<link href="/static/css/map.css" rel="stylesheet" type="text/css" />

		<!-- JS 영역-->
		<!-- JQuery JS -->
		<!-- Insert this line above script imports  -->
		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
		<script src="/static/js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=86XOmGRF7HFM5yld3HMw&submodules=geocoder"></script>
		<script src="/static/js/map.js"></script>
	</head>
	<body onload="showMap()">
		<div style="border-radius: 50%;position: fixed; width: 80px; height: 80px; bottom: 15px; right: 15px;background:#fef01b;z-index:100;"></div>
		<div id="map" style="margin:0;padding:0;width:100%;height:100%;"></div>


	</body>
</html>
