<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>아차! : 호율적인 예약관리의 시작</title>
		<!-- CSS 영역-->
		<!-- Font CSS -->
        <link rel="stylesheet" href="/static/css/font.css">
		<!-- Index CSS -->
		<link href="/static/css/pre-order.css" rel="stylesheet"/>
		<link href="/static/css/font.css" rel="stylesheet"/>
		<!-- JS 영역-->
		<!-- JQuery JS -->
		<!-- Insert this line above script imports  -->
		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
		<script src="/static/js/jquery-3.3.1.js"></script>
		<script src="/static/js/pre-order.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="main_title flexcenter">하울의 움직이는 이탈리아</div>
		</div>
		<div class="content">

			<div class="menu_item">
				<div class="menu_descripton">
					<div class="menu_name">마르게리따 (Margherita Pizza)</div>
					<div class="menu_detail">토마토와 치즈 바질을 얹은 담백하고 고소한 피자</div>
				</div>

				<div class="amount flexcenter">
					<div class="price_str">
						11,000원
					</div>
					<div class="amount_select">
						<div class="amount_num_str">
							0
						</div>
						<div class="minus">
							-
						</div>
						<div class="plus">
							+
						</div>
					</div>
				</div>
			</div>

			<div class="menu_item">
				<div class="menu_descripton">
					<div class="menu_name">고르곤졸라 (Gorgonzola Pizza)</div>
					<div class="menu_detail">달콤한 꿀과 이탈리아산 고르곤졸라 피자</div>
				</div>

				<div class="amount flexcenter">
					<div class="price_str">
						11,000원
					</div>
					<div class="amount_select">
						<div class="amount_num_str">
							0
						</div>
						<div class="minus">
							-
						</div>
						<div class="plus">
							+
						</div>
					</div>
				</div>
			</div>

			<div class="menu_item">
				<div class="menu_descripton">
					<div class="menu_name">알리오 오 올리오 (Alio Olio)</div>
					<div class="menu_detail">올리브오일 마늘향 가득하게 볶아낸 담백하고 매콤한 파스타</div>
				</div>

				<div class="amount flexcenter">
					<div class="price_str">
						6,900원
					</div>
					<div class="amount_select">
						<div class="amount_num_str">
							0
						</div>
						<div class="minus">
							-
						</div>
						<div class="plus">
							+
						</div>
					</div>
				</div>
			</div>

			<div class="menu_item">
				<div class="menu_descripton">
					<div class="menu_name">봉골레 파스타 (Vongole Pasta)</div>
					<div class="menu_detail">신선한 바지락을 JK스타일로 맛을 낸 담백깔끔한 봉골레 파스타</div>
				</div>

				<div class="amount flexcenter">
					<div class="price_str">
						8,900원
					</div>
					<div class="amount_select">
						<div class="amount_num_str">
							0
						</div>
						<div class="minus">
							-
						</div>
						<div class="plus">
							+
						</div>
					</div>
				</div>
			</div>

			<div class="menu_item">
				<div class="menu_descripton">
					<div class="menu_name">백마녀 파스타 (Baek-Manyoo)</div>
					<div class="menu_detail">신선한 해물과 얼큰한 하얀국물을 함께 즐길 수 있는 JK만의 특급 파스타</div>
				</div>

				<div class="amount flexcenter">
					<div class="price_str">
						10,900원
					</div>
					<div class="amount_select">
						<div class="amount_num_str">
							0
						</div>
						<div class="minus">
							-
						</div>
						<div class="plus">
							+
						</div>
					</div>
				</div>
			</div>

			<div class="menu_item">
				<div class="menu_descripton">
					<div class="menu_name">까르보나라 파스타 (Carbonara)</div>
					<div class="menu_detail">고소한 크림소스에 베이컨과 계란 노른자로 맛을 낸 이탈리아 정통 파스타</div>
				</div>

				<div class="amount flexcenter">
					<div class="price_str">
						7,900원
					</div>
					<div class="amount_select">
						<div class="amount_num_str">
							0
						</div>
						<div class="minus">
							-
						</div>
						<div class="plus">
							+
						</div>
					</div>
				</div>
			</div>

			<div class="menu_item">
				<div class="menu_descripton">
					<div class="menu_name">게살 크림 파스타 (Crab Cream)</div>
					<div class="menu_detail">부드러운 게살과 깊고 고소한 크림소스의 맛을 느낄 수 있는 파스타</div>
				</div>

				<div class="amount flexcenter">
					<div class="price_str">
						9,900원
					</div>
					<div class="amount_select">
						<div class="amount_num_str">
							0
						</div>
						<div class="minus">
							-
						</div>
						<div class="plus">
							+
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="footer">
			<div class="flex_row_div">
				<div class="total_price_area flexcenter">
					<div class="str">총 주문한 가격</div>
					<div id="totalPriceStr" class="total_price_str">0원</div>
				</div>
				<div class="confirm_area flexcenter">
					<div class="button flexcenter">
						선택한 상품 주문
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
